body {
  background: linear-gradient(#3bba9c, #418147, #0b0722);
  margin: 30px;
  padding: 20px;
}

header {
  height: 100px;
  padding-top: 6px;
}

.name {
  font-family: Futura;
  text-align: right;
  margin-right: 30px;
  padding-right: 20px;
}
.left {
  text-align: left;
}

body > img {
  margin-left: 20px;
  border: 6px solid #ede9e9;
  padding: 6px;
  border-radius: 120px;
} /* add border to photo*/
/* turns photo and frame into a circle, image has to be square or it'll be an egg*/

.box {
  margin-top: 10px;
  text-align: center;
  font-family: Didot;
  background: linear-gradient(#74819a, #000);
  color: #ede9e9;
  font-size: 20px;
  padding: 20px;
}

.round {
  border-radius: 10px;
} /*round the corners of the boxes*/

.image-rounded {
  border-radius: 10%;
} /* round off corners of images*/

.box2 {
  font-family: Didot;
  text-align: center;
  background-color: #ede9e9;
  color: #000000;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

.box3 {
  font-family: Didot;
  background-color: #ede9e9;
  color: #000000;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

.box4 {
  text-align: left;
  font-family: Didot;
  background-color: #000000;
  color: #ede9e9;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

footer {
  padding-left: 120px;
  padding-right: 120px;
  font-family: Didot;
  text-align: center;
  color: #ede9e9;
}
/*padding left & right is to have the horizontal ruler scale down from one above*/
h4 {
  text-align: center;
  color: #ede9e9;
}
/* tabing numbered and bulleted list items in from the headline <h3> of article. using &: to turn off before and afters */

a:link {
  color: #ede9e9;
}
a:hover {
  color: #fa0000;
}
a:active {
  color: #3dff54;
}
/* making email link the same color as pairing text, color was originally neon blue. turns red when you put cursor over it, green when you click on it */
