body {
  background: linear-gradient(#3bba9c, #418147, #0b0722);
  margin: 30px;
  padding: 20px;
}
/*gives entire web page a gradient between three color values*/
header {
  height: 100px;
  padding-top: 6px;
}
/*provides extra border to the top of page*/ 
.left {
  text-align: left;
}
/*place certain text to the left*/
.right{
  text-align: right;
}
/*place certain text to the right*/
header > img {
  float: left;
  margin-left: 38px;
  margin-bottom: 15px;
  border: 6px solid #ede9e9;
  padding: 6px;
  border-radius: 120px;
} /* add border to photo, turns photo and frame into a circle, image has to be square or it'll be an egg spaces image from text and centers itself while on mobile view*/
.box {
  margin-top: 10px;
  text-align: center;
  font-family: Didot;
  background: linear-gradient(#74819a, #000);
  color: #ede9e9;
  font-size: 20px;
  padding: 20px;
}
/*creates container for text and photos*/
.round {
  border-radius: 10px;
} /*round the corners of the container*/
.image-rounded {
  border-radius: 10%;
} /* round off corners of images*/
.box2 {
  font-family: Didot;
  text-align: center;
  background-color: #ede9e9;
  color: #000000;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}
/*creates container for text and photos*/
.box3 {
  text-align: left;
  font-family: Didot;
  background-color: #000000;
  color: #ede9e9;
  font-size: 20px;
  padding: 20px;
  margin: 40px;
}
/*  creates container for text*/
hr{
  height: 1px solid;
  margin: 60px;
}
/*scales down the length of the horizontal rule*/
footer, h4 {
  margin: 50px;
  font-family: Didot;
  text-align: center;
  color: #ede9e9;
}
/*   */
a:link {
  color: #ede9e9;
}
a:hover {
  color: #fa0000;
}
a:active {
  color: #3dff54;
}
/* making email link the same color as pairing text, color was originally neon blue. turns red when you put cursor over it, green when you click on it */